<!DOCTYPE html>
<html>
  <head>
    <title>DigDog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.uploadSymbol = '<%= image_url('upload_symbol.svg') %>'
      window.upDownSymbol = '<%= image_url('up_down_symbol.svg') %>'
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
