<!DOCTYPE html>
<html>
  <head>
    <title>DigDog</title>
    <meta property="og:title" content="DigDog" />
    <meta property='og:image' content="https://stephendipietro.com/images/dig-dog-screenshot.png"/>
    <meta property="og:description"
      content="A web-based, TikTok clone where dog lovers can upload and share videos of their pups."
    />
    <meta property="og:url"
      content="http://dig-dog.herokuapp.com/#/"
    />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.uploadSymbol = '<%= image_url('upload_symbol.svg') %>'
      window.upDownSymbol = '<%= image_url('up_down_symbol.svg') %>'
      window.facebookSymbol = '<%= image_url('facebook.png') %>'
      window.pinterestSymbol = '<%= image_url('pinterest.png') %>'
      window.twitterSymbol = '<%= image_url('twitter.png') %>'
      window.digDogSymbol = '<%= image_url('digdog.png') %>'
      window.digDogWhiteSymbol = '<%= image_url('digdogwhite.png') %>'
      window.arrowLeftSymbol = '<%= image_url('arrow-left.png') %>'
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
